<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guitar Tab Application</title>
    <link rel="stylesheet" href="./../home.css" media="screen" title="no title">
  </head>
  <body>
    <!-- Example -->
    <div class="container">
      <h1>Welcome <%= user.username %>. Time to get started</h1>
      <a class="tab_search" href="/application">Tab Search</a>
      <form action="/auth?_method=DELETE" method="post">
        <input class="small_button" type="submit" value="Logout">
      </form>
    </div>
  </body>
</html>
