<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
<link rel="stylesheet" href="home.css" media="screen" title="no title">
</head>
<body>
<!--   <header>
    <a class="redirect" href="/users/profile">Home</a>
  </header> -->
  <h1 class="search">Search for your Tabs by Song Title</h1>
  <form action="./search/results" method="POST">
    <input type="text" name="searchTerm" placeholder="search song titles">
    <input type="submit" value="Search">
  </form>
</body>
</html>
