body {
  background-image: url('./guitar.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-bottom: 100px;
  height: 700px;
}

.tab-container {
  background-color: white;
  opacity: .9;
  height: 80vh;
  width: 45%;
  text-align: center;
  margin: 1% 0 0 2%;
  float: left;
  border-radius: .1em;
  padding-bottom: 40px;
}

.tab-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 3% 0 3% 0;
}

.title {
  text-align: left;
  margin-left: 5%;
}

.picture {
  margin: 2% 0 0 5%;
}

.favorites {
  width: 43%;
  height: 100%;
  float: right;
  background-color: white;
  opacity: .9;
  margin: 1% 5% 0 0;
  border-radius: .1em;
}

/*.favorites {
  background-color: #f2f0d7;
  height: 80vh;
  width: 80%;
  float: right;
  margin: 1% 10% 0 0;
  border: solid black 2px;
}*/

.button-section {
  margin: 80% 10% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 3.5vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  border-radius: 1em;
  background-color: white;
}

input[type=text] {
  font-family: 'Montserrat', sans-serif;
}

.delete {
  width: 30%;
}

h1 {
  color: #02d173;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1%;
  margin-bottom: .5%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #02d173;
  font-size: 2em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  }

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #02d173;
  font-size: 1em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

a {
  display: block;
  font-size: 1.5em;
  height: 5%;
  width: 5%;
  margin: 0 auto;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

li {
  list-style: none;
}

.results {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
  width: 200%;
}

.link {
  height: 2.5vh;
  width: 25%;
  color: black;
  font-size: .7em;
  border: solid grey 2px;
  border-radius: 1em;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}

.lyric {
  width: 60%;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 17%;
  margin-left: 38%;
}

.redirect {
  margin: 0;
}


.delete-favorites {
  margin-bottom: 20px;
}
