body {
  background-image: url('./guitar.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.tab-container {
  background-color: white;
  opacity: .9;
  height: 80vh;
  width: 40%;
  text-align: center;
  margin: 1% 0 0 5%;
  float: left;
  border-radius: .1em;
}

.tab-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title {
  text-align: left;
  margin-left: 5%;
}

.picture {
  margin: 2% 0 0 5%;
}

.right-column {
  width: 40%;
  height: 100%;
  float: right;
  background-color: white;
  opacity: .9;
  margin: 1% 3% 0 0;
  border-radius: .1em;
}

/*.favorites {
  background-color: #f2f0d7;
  height: 80vh;
  width: 80%;
  float: right;
  margin: 1% 10% 0 0;
  border: solid black 2px;
}*/

.button-section {
  margin: 80% 10% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 40vh;
  width: 100%;
}

.delete {
  width: 50%;
}

h1 {
  color: #02d173;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: Courier;
}

h3 {
  font-family: Courier;
}

p {
  font-family: Courier;
  font-size: 1.5em;
}

a {
  display: block;
  font-size: 1.5em;
  height: 5%;
  width: 5%;
  margin: 0 auto;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

li {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.lyric {
  width: 60%;
  text-align: center;
}
